
{% load staticfiles %}
{% load static %}
<head>
  <title>Subscribe Me !</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- disini -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- disini -->
  <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
  <script src="{% static 'js/style.js' %}"></script>
</head>

<body id="libs">
    <div class='progress' id="progress_div">
      <div class='bar' id='bar1'></div>
      <div class='percent' id='percent1'></div>
    </div>

    <div id="wrapper">
        <div id="content">
            <div class="container" id="subscribe">
                <div class="row">
                    <div class="col-sm-12">
                    <h1 class="text-center">Want to Subscribe?</h1>
                    </div>
                </div>    
            </div>
            <div class="col-sm-4"></div>
            <div class="form-block col-sm-4">
                {% csrf_token %}
                {{ subscribe_form }}
                <div id="statusForm"></div><br>
                <button class="button" name="submit" id='subs-button' disabled>Submit</button>    
            </div>
            <div class="col-sm-4"></div>
            <input type="hidden" id="progress_width" value="0">



            <p class="judul">List of Subscribers</p>
            <p class="judul">--------------------------</p>
                                
                                    <div class="unsubBerhasil">Unsubscribing Success</div>
                                    <table id="demo" class="table" style="font-size: 15px;">
                                        <thead>
                                            <tr class="table text-center">
                                                <th scope="col" class="align-middle">No</th>
                                                <th scope="col" class="align-middle">Name</th>
                                                <th scope="col" class="align-middle">Email</th>
                                                <th scope="col" class="align-middle"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                

</body>
</html>s
