{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h2>Log in</h2>
                    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}