{% load static %}
{% load staticfiles %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>kabar ku.</title>

	
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  
  <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
  <script src="{% static 'js/scriptku.js' %}" ></script>
  
 
  

<style>

.progress 
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background-color: #F2F2F2;
}
.bar 
{ 
  background-color: #819FF7; 
  width:0%; 
  height:5px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}


}

</style>
	
	
	
</head>
<body>

  <div class='progress' id="progress_div">
    <div class='bar' id='bar1'></div>
    <div class='percent' id='percent1'></div>
  </div>

<h1>Hello, Apa Kabar?</h1>





<div>
    <form id="form" method="POST" action ="{% url 'appTdd:index' %}">
        {% csrf_token %}
        {% for field in listform %}
            {{ field.label_tag }}
            <br>
            {{field}}

        {% endfor %}
        <br>
        <button type="submit" id="button" class="btn btn2 btn-success">Submit </button>
    </form>
</div>
<div class = "container">
    {% for result in Tdd_Form %}
    <div>
        <h5>Date: {{result.my_time}}</h5>
        <h5>Status: {{result.my_status}}</h5>
    </div>
    {% endfor %}
</div>



<!-- Content -->
    <div class="rgba-black-strong py-5 px-4" >
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8">

                <!--Accordion wrapper-->
                <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading30" name="heading30">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30" aria-expanded="true" aria-controls="collapse30">
                                <i class="fa fa-cloud fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                <h4 class="text-uppercase white-text mb-0 py-3 mt-1 bb">
                                    Profil
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse30" class="collapse show" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                              <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzG3GIlwaAGV-EzvPQd8FcBHYL3E9tNObyQ3dJAUaLVXSAIBi6" border="0" style="width: 20%; height: 20%;"></center>
                                <h3 class="center">Full Name&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;: Romi Hadiyan Aji Witjaksono</h3>
                                <h3 class="center">Study&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Information System</h3>
                                <h3 class="center">Faculty&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Faculty of Computer Science</h3>
                                <h3 class="center">NPM&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 1706022640</h3>
                                <h3 class="center">Hobby&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: watchin' brooklyn 99</h3>
                                <h3 class="center">Life Moto&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Lorem Opsum</h3>

                                <p style="font-size:20px;color:black" class="center" >&nbsp; &nbsp; &nbsp; &nbsp;<font face="times new roman">
                                Hey guys my name is Romi Hadiyan, i'm just an ordinary student who has interest in information system.
                                <br> The reason i am interested in computer science and information system is because i believe in the future, our job
                                will be needed.<br>
                                <br>here are other reasons why i choose Information System as my study: </font> </p>
                                <ul style="font-size:20px;color:black" class="center">
                                    <li>Unveil</li>
                                    <li>The</li>
                                    <li>Future</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card mb-4 ">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31" aria-expanded="true" aria-controls="collapse31">
                                <i class="fa fa-commenting-o fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                <h4 class="text-uppercase white-text mb-0 py-3 mt-1 bb">
                                    Pengalaman Kepanitiaan
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                                <p class="p-md-4 mb-0">Sebelum saya kuliah di Fasilkom, saya mengikuti beberapa kepanitiaan seperti mengurus acara tahunan di SMA saya yang bernama HSC (High School Celebration) dan musik festival bernama SOUNDSFEST. Setelah masuk Fasilkom, saya mengikuti beberapa kepanitiaan. Saya pernah menjadi Staff Offline Marketing di Compfest X, Staff LO di Wisuda Genap 2018 dan LO di OH Fasilkom 2018. Sekarang, saya berencana hanya mengikuti 1 kepanitiaan, yaitu menjadi Calon Manager Marketing di COMPFEST .</p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32" aria-expanded="true" aria-controls="collapse32">
                                <i class="fa fa-cogs fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                                <h4 class="text-uppercase white-text mb-0 py-3 mt-1 bb">
                                    Prestasi
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                                <p class="p-md-4 mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                shoreditch et.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!--/.Accordion wrapper-->

            </div>
        </div>
    </div>
    <!-- Content -->


<h3 class="center">if you want to know more about me you can visit me at:</h3>

<div class="sosialmedia" id="sosialmedia" align="center">

        <div id="twitterku" style="display: inline;">
        <a href="https://twitter.com/RomiHadiyan">
            <img border="0" alt="Twitter" src="https://sguru.org/wp-content/uploads/2018/02/twitter_PNG33.png" width="100" height="100" style="display: inline;">
        </a>
        </div>

        <div id="facebooku" style="display: inline;">
            <a href="https://www.facebook.com/romi.hadian1">
                <img border="0" alt="Facebook" src="http://www.transparentpng.com/download/facebook-logo-png/image-black-facebook-logo-png-26.png" width="100" height="100" style="display: inline;">
            </a>
        </div>

         <div id="youtubku" style="display: inline;">
             <a href="https://www.youtube.com/channel/UC3S-GAN01cVldb-XtX6a6tQ?view_as=subscriber">
                 <img border="0" alt="Youtube" src="https://user-images.githubusercontent.com/1094151/29835459-106525fc-8cc0-11e7-8134-8b7eb3c79848.png" width="220" height="100" style="display: inline;">
             </a>
         </div>


        </div>

        <button class="btn-primary rounded" id="theme" style="align-self: center">Ganti Tema</button>



    </div>




<input type="hidden" id="progress_width" value="0">
</body>
{% endblock %}
</html>




<script>
  $(document).ready(function(){
  var left = true;
  console.log("ready");
    $("button#theme").click(function(){
      console.log("test");
      if (left) {
      $("body").css({"background-color": "black"})
        // document.body.style.backgroundImage = "url('https://i.ytimg.com/vi/O1ZIbCn8vT0/maxresdefault.jpg')";
        $(".bb").css({"background-color": "black", "box-shadow": "10px 10px 5px #39ff14", "color": "white"});
        left = false;
     }
     else {
      $("body").css({"background-color": "white"})
        // document.body.style.backgroundImage = "url('https://i.imgur.com/esYLx6b.jpg')";
         $(".bb").css({"background-color": "#999966", "box-shadow": "0px 0px 0px", "color": "black"});
         left = true;
     }
    });
});
</script>