/* css */

#showcase {
    background: url("https://pbs.twimg.com/media/DpkMZDuUYAAEWGc.jpg:large") no-repeat;
    height : 600px;
    background-position: center;
    background-size:cover;
    opacity: 0.9;
}

#sign-up{
    background: url("https://pbs.twimg.com/media/Dpt-vZSVAAYDVfR.jpg:large");
    background-attachment : fixed;
    height : 670px;
    background-position: center;
    background-repeat : no-repeat;
    background-size:cover;
    letter-spacing: 6px;
}

#cancel{
    border-radius: 20px;
}

#signmeup{
    border-radius: 20px;
}

#sinarperak{
    color: #49515E ;
    font-size: 35px;
}

#love{
    color:#49515E ;
    font-weight:bold ;
    font-size:20px;
}

#donate{
    color: #49515E ;
    font-size: 13px;
}

#happening{
    color: #49515E;
    font-size:13px;
}

#resignup{
    color: #49515E ;
    font-size: 20px;
    text-align:center;
}

#myhome{
    color: #49515E ;
    font-size: 20px;
    text-align:center;
}
