{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Your Favorite Source of Knowledege!</title>
    <link rel="icon" href="https://i.pinimg.com/originals/63/2f/17/632f174c6034cf2e0eb524e88e4a981b.png" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab9.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script src="{% static 'js/lab9.js' %}"></script>
</head>


<body>
	{% if user.is_authenticated %}
    <a class="lead" href="{% url 'logout' %}?next={% url 'logout' %}">Log out</a>
    <p class="display-4">Hello, {{ user.username }}</p>
    {% else %}
    <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
  </form>
   <br>

	<div class= "container-fluid h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-sm-11">
				<p class="title" style="font-size: 47px; padding-top: 50px; margin-bottom:-1vh"><strong>List of the Books</strong></p>
				<text>Your Fave(s):</text>
				<text id="counter">0</text>
				<div class="roundedrec">
					<div class="insiderec">
						<div class="table-responsive">
							<table id= "preview" class="table" style="font-size: 15px;">
								<thead>
									<tr class="table text-center">
										<th scope="col" class="align-middle">Number</th>
                                        <th></th>
                                        <th scope="col" class="align-middle">Title</th>
                                        <th scope="col" class="align-middle">Authors</th>
                                        <th scope="col" class="align-middle">Publisher</th>
                                        <th scope="col" class="align-middle">Published Date</th>
                                        <th scope="col" class="align-middle">Add to Favourite(s)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1>Buku Apa Yang Anda Butuhkan ?</h1>
<button class="quilting" id="button1" onclick="change.call(this)">Quilting</button>
<button class="quilting" id="button1" onclick="cooking.call(this)">Cooking</button>
<button class="quilting" id="button1" onclick="music.call(this)">Music</button>



</body>

</html>